:root {
  --yellow-color: #d7f830;
}

@font-face {
  font-family: "Grid";
  src: url(./font/grindanddeath_demo-webfont.woff);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Grid', sans-serif;
}

.container {
  height: 100vh;
  background-color: var(--yellow-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  letter-spacing: 5px;
  grid-row: 1 / 3;
}

.main {
  grid-row: 3 / 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main p {
  padding: 5px 50px;
  font-size: 24px;
  letter-spacing: 5px;
}

.game-config {
  display: flex;
  font-size: 24px;
  gap: 100px;
}

.game-config label input {
  border: none;
  width: 130px;
  padding: 5px 15px;
  font-size: 16px;
  letter-spacing: 5px;
  background-color: transparent;
  border-bottom: 2px solid black;
  outline: none;
}

.main button, .buttons button {
  width: 120px;
  background-color: #000000;
  border: 3px solid #000000;
  color: var(--yellow-color);
  border-radius: 5px;
  letter-spacing: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 25px;
}

.main button:hover, .buttons button:hover {
  border: 3px solid #000000;
  background-color: transparent;
  color: #000000;
}

.game {
  display: none;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  align-content: center;
  grid-row: 3 / 10;
}

.game div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
}

.left-space, .right-space {
  border: none;
  border-bottom: 8px solid black;
}

.middle-space {
  border: 8px solid black;
  border-top: none
}

.left-space:nth-child(7), .middle-space:nth-child(8), .right-space:nth-child(9) {
  border-bottom: none;
}

.results {
  display: none;
  flex-direction: column;
  font-size: 32px;
  padding: 0 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-row: 3 / 10;
}

.message {
  margin-bottom: 50px;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row: 10
}